.col-center{float: none;margin: 0 auto;}
table>thead>tr{
    background:#00c98a;
    /*background:#1b2733;*/
    color:white;
    border-color: #2a3f54
}
.thumbnail{height: 300px;}
.panel-heading{height: 45px;}
.modal-footer {padding: 5px;}
.page-title{height:0 !important;}
.select2-container {
    width: 100% !important;
}
.error{
    border:1px solid #a94442 !important;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

.ratings {
    padding-right: 10px;
    color: #d17581;
}
.caption {
    background-color: #FFF;
}

.thumbnail{
    border: 1px solid #FFF;
}

.thumbnail a>img, .thumbnail>img {
    -webkit-box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 7px -8px rgba(0,0,0,0.75);
}
/*.select2-container--default .select2-selection--single {*/
/*    border:1px solid #a94442;
}*/


.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 0px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0;
}
.color-new{
    background-color: #0080FF;
    color: white;

}
.color-green{
    background-color: #00b065;
    color: white;

}
.color-orange{
    background-color: #ff9900;
    color: white;

}
.color-red{
    background-color: #ff0033;
    color: white;

}
.color-new > a{
    color: white;
}
.color-pending{
    background-color: #F7BE81;
    color: white;
}
.color-pending>a{
    color: #000;
}

.color-checked{
    background-color: #80FF00;
}

.panel-default>.panel-heading {
    /*background-color: #65cea7;*/
    background-color: #00b065;
    /*background-color: #2a3f54;*/
}
.panel-default>.panel-heading.personal {
    background-color: white;
    max-width: 100%;
    font-weight: 700;
    color: #73879C;
    border-color:#00b065;
}

.panel-default>.panel-heading{
    color:#fff;
}

.panel-default>.panel-heading>.row {
    color: white;
}

.center-rowspan{
    text-align: center;
    vertical-align: middle !important;
}

td.details-control {
    background: url('/images/datatables/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/images/datatables/details_close.png') no-repeat center center;
}

.table-detail > thead >tr >th{
    background-color: #53708e;
    padding: 3px;
}
.table-detail > tbody >tr >td{
    border: 1px solid #999999;
    padding: 3px;
}


.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    min-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 18px;
    font-size: 12px;
}



.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

a.btn-danger, a.btn-primary, a.btn-success, a.btn-warning{
    color:#000;
}



